/*
Ian Durra
INFO 343
HW #1
06/25/15
CSS file for index.html
*/

body {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 600px;
}